
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>
      <nav>
      <div><a href="/"> WebChat</a></div>
      <div><a href="/createchannel">Create channel</a></div>
      <div><a href="/">logout</a></div>
    </nav>
    </nav>
<div>
    <h3>Create your Channel</h3>
    <form action="/createchannel2" method="post">
        <input name="channel_name" placeholder="channel name"  type="text">
        <input type="submit">
    </form>
</div>


</body>
</html>